:root {
  --gray: rgb(229, 229, 229);
  --dkgray: rgb(171, 171, 171);
  --dkrgray: rgb(67, 67, 67);
  --dksgray: rgb(145, 145, 145);
  --whitesmoke: rgb(245, 245, 245);
  --blue: rgb(59, 64, 213);
  --black: rgb(0, 0, 0);
  --orange: rgba(251, 137, 45);
  --purple: rgb(124, 58, 237);
  --pink: rgb(219, 39, 119);
  --white: rgb(255, 255, 255);
  --lightpurple: rgb(245, 243, 255);
  --lightpink: rgb(253, 242, 248);
}

* {
  font-family: "Oxygen Mono", monospace;
  background-color: var(--white);
}

header h2 {
  text-align: center;
}

main {
  text-align: left;
}

.options .angle {
  margin-inline-start: 15px;
}

ul {
  list-style: none;
  padding: 10px;
  color: var(--dkrgray);
  border-top: 1.5px solid var(--gray);
}

li {
  margin-bottom: 10px;
}

.page {
  border-top: 1.5px solid var(--gray);
  display: grid;
  grid-template-areas: "page-top content content";
}

.page-top {
  margin: 0px 10px;
  border-right: 1.5px solid var(--gray);
}

.options button {
  background-color: var(--whitesmoke);
  color: var(--black);
  margin: 20px 10px;
  padding: 10px;
  width: 50%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

header {
  border-bottom: 1.5px solid var(--gray);
  padding: 2px;
}

.new {
  background-color: var(--blue);
  color: var(--whitesmoke);
  padding: 10px 10px;
  font-size: 13px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 15px 0 0 100px;
}

.filters {
  padding: 10px 10px;
  font-size: 13px;
  border: 1px solid var(--gray);
  border-radius: 5px;
  cursor: pointer;
}

.task,
.others {
  border: 1px solid var(--gray);
  margin: 15px 0 5px 100px;
  border-radius: 10px;
  padding: 10px;
}

.others {
  text-decoration: line-through;
  color: var(--dksgray);
}

.task .task-label {
  font-weight: bold;
  font-size: 14px;
}

.task-date {
  margin: 7px 0 7px;
  color: var(--dkgray);
  font-size: 13px;
  margin-left: 30px;
}

.task-date .tomorrow {
  color: var(--orange);
}

.launch {
  background-color: var(--lightpurple);
  color: var(--purple);
  padding: 5px;
  font-size: 10px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 30px;
}

.dabble {
  background-color: var(--lightpink);
  color: var(--pink);
  padding: 5px;
  font-size: 10px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 30px;
}

.launch .circle,
.dabble .circle {
  font-size: 7px;
  margin-right: 5px;
}
